include README.md
include LICENSE
include CHANGELOG.md
include requirements-locked.txt
include requirements-core.txt
include requirements-django.txt
include requirements-fastapi.txt
recursive-include src/tenxyte/migrations *.py
recursive-include src/tenxyte/templates *
recursive-include src/tenxyte/static *
recursive-include docs *
recursive-include examples *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
